<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>810454561704-kkl2bu2e0qvun5jqt3krg2k25vu4duei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810454561704-kkl2bu2e0qvun5jqt3krg2k25vu4duei</string>
	<key>API_KEY</key>
	<string>AIzaSyBTLZiFhvBef6r8CFegmTWOyovdFMmeU3k</string>
	<key>GCM_SENDER_ID</key>
	<string>810454561704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcc.Web-to-App</string>
	<key>PROJECT_ID</key>
	<string>web-to-app-181908</string>
	<key>STORAGE_BUCKET</key>
	<string>web-to-app-181908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810454561704:ios:433e9599f2fa522b</string>
	<key>DATABASE_URL</key>
	<string>https://web-to-app-181908.firebaseio.com</string>
</dict>
</plist>